[Unit]
Description=umwelt.info harvester service

[Service]
User=umwelt-info
Group=umwelt-info
Environment=RUST_LOG=info DATA_PATH=/var/lib/umwelt-info

Type=oneshot
ExecStart=harvester
ExecStart=indexer

ProtectSystem=yes
ProtectHome=yes
PrivateDevices=yes
NoNewPrivileges=yes
PrivateTmp=yes
