[Unit]
Description=umwelt.info server service
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/var/lib/umwelt-info

[Service]
User=umwelt-info
Group=umwelt-info
Environment=RUST_LOG=info DATA_PATH=/var/lib/umwelt-info ASSETS_PATH=/usr/share/umwelt-info/assets BIND_ADDR=0.0.0.0:8080 REQUEST_LIMIT=128

ExecStart=server
Restart=always

ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/var/lib/umwelt-info
PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes
NoNewPrivileges=yes
SystemCallFilter=@system-service

[Install]
WantedBy=default.target
