<!DOCTYPE html>

<html>
  <head>
    <title>umwelt.info: Search results</title>
  </head>

  <body>

    <form id="form" method="GET" style="display: flex">
      <input name="query" type="text" value="{{ params.query }}" style="width: 50%; font-size: large" />

      <input name="provenances_root" type="hidden" value="{{ params.provenances_root }}" />
      <input name="licenses_root" type="hidden" value="{{ params.licenses_root }}" />

      <input name="page" type="hidden" value="{{ params.page }}" />
      <input name="results_per_page" type="hidden" value="{{ params.results_per_page }}" />

      <input type="submit" value="Search" />
    </form>

    <h3>Found {{ count }} results.</h3>

    <div style="float: left; width: 85%">

      {% for result in results %}

      <div>
        <h2><a href="/dataset/{{ result.source }}/{{ result.id }}">{{ result.dataset.title }}</a></h2>

        {% if let Some(description) = result.dataset.description %} <p>{{ description }}</p> {% endif %}
      </div>

      {% endfor %}

    </div>

    <div style="float: left; width: 15%">

      {% if !params.provenances_root.is_root() %} <h4>Provenance: <a href="javascript:reset_provenances_root()">{{ params.provenances_root }}</a></h4> {% endif %}

      {% if !provenances.is_empty() %}

      <table>

        <thead>
          <tr>
            <th>Provenance</th><th>Count</th>
          </tr>
        </thead>

        <tbody>

        {% for (provenance, count) in provenances %}

          <tr>
            <td><a href="javascript:set_provenances_root('{{ provenance }}')">{{ provenance }}</a></td><td>{{ count }}</td>
          </tr>

        {% endfor %}

        </tbody>

      </table>

      {% endif %}

      {% if !params.licenses_root.is_root() %} <h4>License: <a href="javascript:reset_licenses_root()">{{ params.licenses_root }}</a></h4> {% endif %}

      {% if !licenses.is_empty() %}

      <table>

        <thead>
          <tr>
            <th>License</th><th>Count</th>
          </tr>
        </thead>

        <tbody>

        {% for (license, count) in licenses %}

          <tr>
            <td><a href="javascript:set_licenses_root('{{ license }}')">{{ license }}</a></td><td>{{ count }}</td>
          </tr>

        {% endfor %}

        </tbody>

      </table>

      {% endif %}

      {% if !related_terms.is_empty() %}

      <h4>Related terms</h4>

      <ul>

        {% for term in related_terms %}

        <li>{{ term }}&nbsp;<a href="javascript:add_term('', '{{ term }}')">?</a>&nbsp;<a href="javascript:add_term('+', '{{ term }}')">+</a>&nbsp;<a href="javascript:add_term('-', '{{ term }}')">-</a></li>

        {% endfor %}

      </ul>

      {% endif %}

    </div>

    <div style="clear: left; text-align: center">

    {% for page in self.pages() %}

      {% if page == 0 %}

      &mldr;

      {% else %}

        {% if page == params.page %} <b> {% endif %}

        <a href="?query={{ params.query|urlencode }}&licenses_root={{ params.licenses_root|urlencode }}&provenances_root={{ params.provenances_root|urlencode }}&page={{ page }}&results_per_page={{ params.results_per_page }}">{{ page }}</a>

        {% if page==params.page %} </b> {% endif %}

      {% endif %}

    {% endfor %}

    </div>

    <script>
      const query = document.getElementsByName("query")[0];
      const provenances_root = document.getElementsByName("provenances_root")[0];
      const licenses_root = document.getElementsByName("licenses_root")[0];
      const form = document.getElementById("form");

      function add_term(occurrence, value) {
        query.value += ` ${occurrence}${value}`;
        form.submit();
      }

      function remove_last_component(value) {
        const index = value.lastIndexOf("/");
        return index == 0 ? "/" : value.slice(0, index);
      }

      function set_provenances_root(value) {
        provenances_root.value = value;
        form.submit();
      }

      function reset_provenances_root() {
        provenances_root.value = remove_last_component(provenances_root.value);
        form.submit();
      }

      function set_licenses_root(value) {
        licenses_root.value = value;
        form.submit();
      }

      function reset_licenses_root() {
        licenses_root.value = remove_last_component(licenses_root.value);
        form.submit();
      }
    </script>

  </body>
</html>
