<!DOCTYPE html>

<html>
  <head>
    <title>umwelt.info: Search results</title>
  </head>

  <body>

    <form id="form" method="GET">
      <input name="query" type="text" value="{{ params.query }}" />

      <input name="page" type="hidden" value="{{ params.page }}" />
      <input name="results_per_page" type="hidden" value="{{ params.results_per_page }}" />

      <input type="submit" value="Search" />
    </form>

    <h3>Found {{ count }} results.</h3>

    <div style="float: left; width: 85%">

      {% for result in results %}

      <div>
        <h2><a href="/dataset/{{ result.source }}/{{ result.id }}">{{ result.dataset.title }}</a></h2>

        {% if let Some(description) = result.dataset.description %} <p>{{ description }}</p> {% endif %}
      </div>

      {% endfor %}

    </div>

    <div style="float: left; width: 15%">

      {% if !licenses.is_empty() %}

      <table>

        <thead>
          <tr>
            <th>License</th><th>Count</th>
          </tr>
        </thead>

        <tbody>

        {% for (license, count) in licenses %}

          <tr>
            <td><a href="javascript:add_facet('license', '{{ license }}')">{{ license }}</a></td><td>{{ count }}</td>
          </tr>

        {% endfor %}

        </tbody>

      </table>

      {% endif %}

      {% if !provenances.is_empty() %}

      <table>

        <thead>
          <tr>
            <th>Provenance</th><th>Count</th>
          </tr>
        </thead>

        <tbody>

        {% for (provenance, count) in provenances %}

          <tr>
            <td><a href="javascript:add_facet('provenance', '{{ provenance }}')">{{ provenance }}</a></td><td>{{ count }}</td>
          </tr>

        {% endfor %}

        </tbody>

      </table>

      {% endif %}

    </div>

    <div style="clear: left; text-align: center">

    {% for page in self.pages() %}

      {% if page == 0 %}

      &mldr;

      {% else %}

        {% if page == params.page %} <b> {% endif %}

        <a href="?query={{ params.query|urlencode }}&page={{ page }}&results_per_page={{ params.results_per_page }}">{{ page }}</a>

        {% if page==params.page %} </b> {% endif %}

      {% endif %}

    {% endfor %}

    </div>

    <script>
      const query = document.getElementsByName("query")[0];
      const form = document.getElementById("form");

      function add_facet(field, value) {
        query.value += ` +${field}:${value}`;
        form.submit();
      }
    </script>

  </body>
</html>
